.contact-section {

    .ant-form-item label {
        color: var(--color-foreground);
    }
    .ant-form .ant-btn {
        background-color: var(--color-primary);
        color: var(--color-primary-foreground);
        border: none;
    }
    .ant-form .ant-btn:hover {
        background-color: var(--color-primary);
        color: var(--color-primary-foreground);
        border: none;
        transform: scale(1.01);
    }
}